$column-background: #95e1d3;
$text-color: #fff;

// Добавил свойство grid
.col-info__block-statistics {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1px;
  width: 1170px;
  height: 150px;
  margin-bottom: 100px;
}

.column {
  background-color: $column-background;
  width: 134px;
}

.column-info {
  width: 234px;
  height: 200px;
  text-align: center;
  padding-top: 60px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: $text-color;
}

.number {
  font-size: 2.75rem;
  font-weight: 500;
}
