.row {
  background: linear-gradient( rgba(233, 130, 131, 0.9), rgba(237, 215, 137, 0.9) ), url(/src/img/background_1.png);
  width: 1510px;
  height: 1024px;
  margin-top: -10px;
  margin-left: -10px;
}
